@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* * Use Everforest Colour Palette: https://everforest.vercel.app/ */

* {
  font-family: "Roboto", "Times New Roman", Times, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  gap: 1rem;
}

.web-icon,
li > img {
  height: 2rem;
}

li {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

li:has(img[alt="Communities"]) {
  margin-bottom: 2rem; 
}